@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.jer-collection-text-edit>div {
    display: flex;
    width: 100%;
}

.jer-collection-text-edit>div div:first-child {
    flex: 0.7;
}

.jer-collection-text-edit>div div.jer-collection-input-button-row {
    flex: 0.3;
}

.jer-editor-container {
    max-width: unset !important;
}